<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        body {
            background-color: white;
            margin: 0;
            padding: 0;
            display: flex;
            /* Makes the body a flex container */
            flex-direction: column;
            /* Stacks the items vertically */
            height: 100vh;
            /* Full height of the viewport */

        }

        header {
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 55px;
            padding: 0 30px;
            /* position: fixed; */
            width: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
            z-index: 100;
        }

        .logo {
            display: flex;
            gap: 15px;
        }

        .logo h1 {
            color: #007AFF;
            font-size: 35px;
            font-weight: 800;
        }

        .logo h1 span {
            color: #312ECB;
        }

        nav {
            display: flex;
            gap: 50px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-size: 22px;
            /* font-weight: bold; */
            transition: 0.3s;
        }

        nav a:hover {
            /* color: #312ECB; */
            color: red;
        }

        input {
            display: none;
        }

        .a {
            flex: 30%;
            display: flex;
            background: rgb(174, 238, 238);
            text-align: center;
            justify-content: center;
        }

        #a1 {
            margin-top: 60px;
            font-size: 50px;
            font: bold;
            color: #4853e9;
        }

        .b {
            display: flex;
            flex: 60;
            background-color: beige;
        }

        #b1 {
            font-size: 20px;
            font: bold;
            margin: auto;
            margin-top: 20px;
            text-align: center;

        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 14px;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        /* button */
        /* From Uiverse.io by Gaurav-WebDev */
        .button {
            display: inline-block;
            /* Make the link behave like a button */
            height: 50px;
            width: 150px;
            text-align: center;
            /* Center the text inside the link */
            line-height: 50px;
            /* Vertically center the text */
            border: none;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            text-decoration: none;
            /* Remove underline from the link */
            transition: all 0.5s ease-in-out;
        }

        .button:hover {
            box-shadow: .5px .5px 150px #252525;
        }

        .type1::after {
            content: "Thanks";
            height: 50px;
            width: 150px;
            background-color: #008080;
            color: #fff;
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translateY(50px);
            font-size: 1.2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease-in-out;
        }

        .type1::before {
            content: "Join Us";
            height: 50px;
            width: 150px;
            background-color: #fff;
            color: #008080;
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translateY(0px) scale(1.2);
            font-size: 1.2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease-in-out;
        }

        .type1:hover::after {
            transform: translateY(0) scale(1.2);
        }

        .type1:hover::before {
            transform: translateY(-50px) scale(0) rotate(120deg);
        }

        @media (max-width: 768px) {
            .logo h1 {
                font-size: 25px;
            }

            nav {
                position: absolute;
                top: 100px;
                background: black;
                left: 0;
                flex-direction: column;
                width: 100%;
                align-items: center;
                height: 0;
                transition: 0.5s;
                overflow: hidden;
            }

            nav a:nth-child(1) {
                margin-top: 50px;
            }

            label {
                width: 45px;
                height: 30px;
                position: relative;
            }

            label div {
                width: 100%;
                height: 5px;
                background: #312ECB;
                position: absolute;
                transform: translateY(-50%);
                border-radius: 99px;
                transition: 0.3s;
                transform: scale(1);
            }

            label div:nth-child(1) {
                top: 0;
            }

            label div:nth-child(2) {
                top: 50%;
            }

            label div:nth-child(3) {
                top: 100%;
            }

            input:checked+header nav {
                height: 100vh;
            }

            input:checked+header label div:nth-child(1) {
                transform: rotate(45deg);
                top: 50%;
            }

            input:checked+header label div:nth-child(3) {
                transform: rotate(-45deg);
                top: 50%;
            }

            input:checked+header label div:nth-child(2) {
                transform: scale(0);
                opacity: 0;
            }
        }
    </style>
</head>

<body>


    <!-- MOBILE SCREEN -->
    <input type="checkbox" id="menu">
    <!-- END MOBILE SCREEN -->
    <header>
        <!-- MOBILE SCREEN -->
        <label for="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <!-- END MOBILE SCREEN -->
        <nav>
            <a href="#home">Home</a>
            <a href="http://localhost:8080/user">Employee List</a>
            <a href="http://localhost:8080/user/new">Create Employee</a>
            <a href="http://localhost:3000/">Login</a>
            <a href="http://localhost:3000/">Logout</a>
        </nav>
    </header>
    <div class="a">
        <div id="a1">
            <h1>Welcome To Admin Panel</h1>
        </div>
    </div>
    <div class="b">
        <div id="b1">
            <h2> The total number of user are : <%= count %>
            </h2>
            <a href="http://localhost:8080/user/new" class="button type1">
                Join us today
              </a>
        </div>
    </div>
    <footer>
        &copy; <span id="year">2024</span> by ziya rashid.
    </footer>


</body>

</html>